<p>
    <mat-toolbar color="primary">
        <mat-icon class="tab-icon">account_circle</mat-icon>
        <span>Contatos</span>
    </mat-toolbar>
</p>

<mat-tab-group>
    <mat-tab >
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">list</mat-icon>
            Todos
        </ng-template>

        <mat-table [dataSource]="contatos" class="full-width">
            <ng-container matColumnDef="foto">
                <mat-header-cell *matHeaderCellDef>Foto</mat-header-cell>
                <mat-cell *matCellDef="let contato">
                    <div *ngIf="contato.foto">
                        <img src="data:image/png;base64,{{ contato.foto }}" alt="Avatar" height="85" width="85"
                        (click)="visualizarContato(contato)">
                    </div>
                    <div *ngIf="!contato.foto">
                        <input type="file" name="foto" (change)="uploadFoto($event, contato)" />
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell *matCellDef="let contato"> {{contato.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell *matCellDef="let contato"> {{contato.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let contato"> {{contato.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="favorito">
                <mat-header-cell *matHeaderCellDef> Favorito </mat-header-cell>
                <mat-cell *matCellDef="let contato">
                    <a href="#" (click)="favoritar(contato)">
                        <mat-icon>
                            {{ contato.favorito ? 'favorite' : 'favorite_border' }}
                        </mat-icon>
                    </a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: colunas"></mat-row>
        </mat-table>

        <mat-paginator [length]="totalElementos"
                       [pageSize]="tamanho"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="paginar($event)">
        </mat-paginator>
        
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">face</mat-icon>
            Novo
        </ng-template>

        <mat-card class="half-width">
            <mat-card-title class="tab-title">Novo Contato</mat-card-title>
            <mat-card-subtitle class="tab-title">Preencha os campos e click no botão Adicionar para criar um novo contato</mat-card-subtitle>

            <form class="form-contato" [formGroup]="formulario" (ngSubmit)="submit()">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Nome: </mat-label>
                    <input formControlName="nome" matInput placeholder="Digite seu nome">
                    <mat-error class="error-message" *ngIf="formulario.controls['nome'].hasError('required')">
                        Nome é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            
                <p></p>
            
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Email:</mat-label>
                    <textarea formControlName="email" matInput placeholder="Digite seu email"></textarea>
                    <mat-error class="error-message" *ngIf="formulario.controls['email'].hasError('required')">
                        Email é <strong>obrigatório</strong>
                    </mat-error>
                    <mat-error class="error-message" *ngIf="formulario.controls['email'].hasError('email')">
                        Email <strong>inválido</strong>
                    </mat-error>
                </mat-form-field>
            
                <mat-card-actions class="button-submit">
                    <button [disabled]="!formulario.valid" mat-raised-button color="primary">Adicionar</button>
                </mat-card-actions>
            </form>
        </mat-card>

    </mat-tab>
</mat-tab-group>
  

  