<p>
    <mat-toolbar color="primary">
        <mat-icon class="tab-icon">account_circle</mat-icon>
        <span>Contatos</span>
    </mat-toolbar>
</p>

<mat-tab-group>
    <mat-tab >
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">list</mat-icon>
            Todos
        </ng-template>
        
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">face</mat-icon>
            Novo
        </ng-template>

        <mat-card class="half-width">
            <mat-card-title class="tab-title">Novo Contato</mat-card-title>
            <mat-card-subtitle class="tab-title">Preencha os campos e click no botão Adicionar para criar um novo contato</mat-card-subtitle>

            <form class="form-contato" [formGroup]="formulario" (ngSubmit)="submit()">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Nome: </mat-label>
                    <input formControlName="nome" matInput placeholder="Digite seu nome">
                    <mat-error class="error-message" *ngIf="formulario.controls['nome'].hasError('required')">
                        Nome é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            
                <p></p>
            
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Email:</mat-label>
                    <textarea formControlName="email" matInput placeholder="Digite seu email"></textarea>
                    <mat-error class="error-message" *ngIf="formulario.controls['email'].hasError('required')">
                        Email é <strong>obrigatório</strong>
                    </mat-error>
                    <mat-error class="error-message" *ngIf="formulario.controls['email'].hasError('email')">
                        Email <strong>inválido</strong>
                    </mat-error>
                </mat-form-field>
            
                <mat-card-actions class="button-submit">
                    <button [disabled]="!formulario.valid" mat-raised-button color="primary">Adicionar</button>
                </mat-card-actions>
            </form>
        </mat-card>

    </mat-tab>
</mat-tab-group>
  

  