.form-contato {
    min-width: 150px;    
    width: 100%;
}
  
.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.error-message {
    font-size: 15px;
}

.button-submit {
    padding-top: 20px;
}

.tab-icon {
    margin-right: 8px;
}

.tab-title {
    color: #314199;
}